body {
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

#playWindow {
    position: relative;
    display: flex;
    justify-content: center;
}

#playArea {
    position: relative;
    width: 720px;
    height: 576px;
}