/* body {
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

#playWindow {
    position: relative;
    display: flex;
    justify-content: center;
}

#playArea {
    position: relative;
    width: 720px;
    height: 576px;
    border: solid green 2px;
    overflow: hidden;
}

#scoreContainer {
    left: 15px;
    top: 15px;
    position: absolute;
    text-align: left;
    z-index: 30;
}

.score {
    padding: 10px;
}

.sprite {
    position: absolute;
    z-index: 10;
}

#messageContainer {
    position: absolute;
    top: 200px;
    text-align: center;
    width: 100%;
    z-index: 40;
}

.message {
    font-size: 3em;
    padding: 20px;
} */

@keyframes explosion {
    0% {
        background-image: url("../img/Ship3_Explosion_00.png");
    }
    20% {
        background-image: url("../img/Ship3_Explosion_01.png");
    }
    40% {
        background-image: url("../img/Ship3_Explosion_02.png");
    }
    60% {
        background-image: url("../img/Ship3_Explosion_03.png");
        opacity: 0.9;
    }
    80% {
        background-image: url("../img/Ship3_Explosion_04.png");
        opacity: 0.8;
    }
    100% {
        background-image: url("../img/Ship3_Explosion_05.png");
        opacity: 0.5;
    }
}

.explosion {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    top: 300px;
    animation-name: explosion;
    animation-duration: 0.5s;
    background-repeat: no-repeat;
    z-index: 20;
    border: steelblue;
    border-style: solid;
    padding-top: -10px;
}