body {
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

#playWindow {
    position: relative;
    display: flex;
    justify-content: center;
}

#playArea {
    position: relative;
    width: 720px;
    height: 576px;
    border: solid green 2px;
    overflow: hidden;
}

#scoreContainer {
    left: 15px;
    top: 15px;
    position: absolute;
    text-align: left;
    z-index: 30;
}

.score {
    padding: 10px;
}

.sprite {
    position: absolute;
    z-index: 10;
}